
body{
    background-color: #27292d;
}

.card {
  background-color: #474a51;
}

.card:hover {
  cursor: pointer;
}
.card p{
  text-align: center;
  color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .card {
    max-height: 350px; 
    vertical-align: middle;
    width: 100%;
    margin-top: 8px;
  }

  .card img{
    height: 90%;
  }

  .card div p{
    height: 10%;
  }

  .column-img {
    max-height: 350px; 
    vertical-align: middle;
    width: 100%;
  }
  .card video{
    height: 90%;
  }

  .card video {
    width: 100%;
    max-height: 427px; 
    vertical-align: auto;
    width: 100%;
  }

  
  .user_avatar {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

